/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}
/* CSS Reset */

/* Body */
body {
  font-family: "Roboto", serif;
  background-color: #395078;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* Submit Button */
.submit {
  background-color: #fefefe;
  padding: 1rem 3rem;
  font-size: 1.25rem;
  border: none;
  border-radius: 10rem;
  cursor: pointer;
  border: 0.25rem solid #fefefe;
  color: #395078;
}

/* Popup */
.popup {
  position: absolute;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 20rem;
  background-color: #fefefe;
  border-radius: 0.5rem;
  padding: 1rem;
  color: #2c3536;
  top: -15rem;
  transform: scale(0);
}

.animation {
  animation: visible 2s forwards;
}

@keyframes visible {
  from {
    top: -15rem;
    transform: scale(0);
  }
  to {
    top: 32.5%;
    transform: scale(1);
  }
}

.popup h1 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-block: 3rem 0.5rem;
}

.popup button {
  background-color: #62b840;
  width: 100%;
  padding-block: 0.25rem;
  text-transform: uppercase;
  border: none;
  border-radius: 0.25rem;
  color: #fefefe;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
  margin-top: 2rem;
  cursor: pointer;
}

.check-decoration {
  width: 5rem;
  height: 5rem;
  position: absolute;
  background-color: #62b840;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: #fefefe;
  top: -2.5rem;
}

/* Media Query */
@media screen and (max-width: 22rem) {
  .popup {
    width: calc(100vw - 2rem);
  }
}
